[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
pylint = "*"
autopep8 = "*"
pytest = "*"
pytest_timeout = "*"
mock = "*"
pytest-regressions = "*"
pytest-xdist = "*"
psutil = "*"

[packages]
robotframework = {git = "https://github.com/robotframework/robotframework.git"}
watchdog = {editable = true, path = "./../robocorp-python-ls-core/src"}
robotframework-lsp = {editable = true, path = "./src"}
