[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
bandit = "*"
mypy = "*"
prospector = "*"
pylint = "*"
pycodestyle = "*"
pytest = "*"

[packages]
robotframework = {editable = true, git = "https://github.com/robotframework/robotframework.git"}
watchdog = {editable = true, path = "./../robocorp-python-ls-core/src"}
robotframework-lsp = {editable = true, path = "./src"}

[requires]
python_version = "3.9"
